/** Add css rules here for your application. */
/** Example rules used by the template application (remove for your app) */
h1 {
	font-size: 2em;
	font-weight: bold;
	color: #3480CD;
	text-align: center;
}

table {
	border-collapse: collapse;
	width: 100%;
}

th,td {
	padding: 8px;
	text-align: left;
	border-bottom: 1px solid #ddd;
}

tr:hover {
	background-color: #f5f5f5
}

.sendButton {
	display: block;
	font-size: 16pt;
}
/** Most GWT widgets already have a style name defined */
.gwt-DialogBox {
	width: 400px;
}

.gwt-label {
	background-color: #e7e7e7;
	color: black;
	align : center;
	text-align: right;
}

.dialogVPanel {
	margin: 5px;\
	
}

.serverResponseLabelError {
	color: red;
}
/** Set ids using widget.getElement().setId("idOfElement") */
#closeButton {
	margin: 15px 6px 6px;
}

.gwt-btn-shkpr {
	display: block;
	color: white;
	padding: 12px 28px;
	font-weight: bold;
	text-align: center;
	background-color: #555555;
}

.gwt-panel {
	font-size: 9px;
	text-align: center;
	background-color: #e7e7e7;
}